  <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <!--Copyright-->
        <h6 class="navbar-text">&copy; Copyright 2021. All Right reserved. COMP229 Gaeun Kim / 301157178</h6> 
      </div>
    </nav>
  </footer>