<section>
    <!--Common backgroud for all page-->
      <div class="curve"></div>
      <!--Welcome message-->
      <h1 class="display-4" id="green"><b>Welcome to <%= title %> Page</b></h1><br><br> 
      <div class="container1"> 
        <img src="/Assets/images/img1.png" class="rounded float-end" alt="Developing">     
        <h1 id="green"> <br>&nbsp;Hi, I'm Gaeun</h1> <br><br>
        <h4 id="lgreen">"My mission is to improve people's quality of life<br>
            &nbsp;through the development of software.<br>
            &nbsp;Looks simple, but difficult."</h4>  
        
      </div>    
    </section>